.navbar {
  background-color: #333;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.brand {
  font-size: 1.5em;
  font-weight: bold;
}

.brandLink {
  color: white;
  text-decoration: none;
}

.navList {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navItem {
  margin-left: 20px;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 5px 0;
  transition: color 0.2s ease-in-out;
}

.navLink:hover {
  color: #007bff;
}

.menuButton {
  display: none; /* Hidden by default on larger screens */
  background: none;
  border: none;
  color: white;
  font-size: 1.8em;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navList {
    display: none; /* Hide nav links on smaller screens */
  }

  .menuButton {
    display: block; /* Show menu button on smaller screens */
  }
}
